:root {
    --text-color-black: #2e2f42;
    --text-color-blue: #4d5ae5;
    --text-color-grey: #434455;
    --color-white: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-black {
    color: #2e2f42;
}
.logo-white {
    color: #f4f4fd;
}
.header-menu__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-menu__link:hover,
.header-menu__link:focus
{
    color: #404bbf;
}
.header-address {
    font-style: normal;
}
.header-contact__link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-contact__link:hover,
.header-contact__link:focus
{
    color: #404bbf;
}
.footer {
    background-color: #2e2f42;
}
.hero {
    background-color: #2e2f42;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.hero-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.hero-button:hover,
.hero-button:focus
{
    background-color: #404BBF;
}
.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color-black);
}
.list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color-grey);
}
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--text-color-black);
}
.team {
    background-color: #F4F4FD;
}
.team-list__item {
    background-color: #ffffff;
}
.team-list__item-work {
    line-height: 1.5
}
.portfolio-nav__button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-color-blue);
    background-color: var(--color-white);
    cursor: pointer;
}
.portfolio-nav__button:hover,
.portfolio-nav__button:focus
{
    color: #ffffff;
    background-color: #404BBF;
}